<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["UserName"] != null)
                    {
                        <<li>@Html.ActionLink("Home", "Index", "Books")</li>
                    }
                   
                  
                    </ul>
              

                <ul class="nav navbar-nav navbar-right" style="margin-top:0.6%">

                    @if (Session["UserName"] != null)
                    {

                        using (Html.BeginForm("Logout", "Customers", FormMethod.Post))
                        {
                            <li>
                                <input type="submit" class="btn" value="Logout" />
                            </li>
                        }

                    }
                </ul>

                @if (Session["UserName"] != null)
                {
                    <span class="navbar-text navbar-right" style="margin-right:2%">
                        Welcome @Session["UserName"].ToString()
                    </span>
                    if (Session["UserName"].ToString() == "admin")
                    {
                        <span class="navbar-text navbar-right" style="margin-right:2%">
                            @Html.ActionLink("Create New User", "Create", "Customers")
                        </span>
                    }
                }
                






                

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
		$(function () {
			$(".jqueryui-marker-datepicker").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				showOn: "button"
			}).css("display", "inline-block").next("button").button({
                icons: { primary: "ui-icon calendar" },

				text: false
			});
		});
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
